body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

#one,
#two,
#three,
#four,
#five,
#six,
#seven,
#eight,
#nine,
#zero{
    background-color: orange;
    color: white;
    display: flex;
    flex: 0 1 auto;
    height: 50px;
    width: 50px;
}

#add,
#subtract,
#multiply,
#divide,
#equal,
#clear{
    background-color: blue;
    color: white;
    display: flex;
    flex: 0 1 auto;
    height: 50px;
    width: 50px;
}

#calculatorBody{
    display: flex;
    flex: 0 1 auto;
    height: 400px;
    width: 250px;
    flex-direction: column;
    background-color: black;
    margin: 500px;
    border-radius: 2px;
    border: 5px solid lightslategrey;
}

#headerArea{
    display: flex;
    flex: 0 0 auto;
    height: 100px;
    width: 250px;
    flex-direction: column;
    background-color: black;
}

#buttonArea{
display: flex;
flex: 0 0 auto;
flex-direction: row;
flex-wrap: wrap;
width: 250px;
height: 300px;
gap: 10px;
align-content: baseline;
justify-content: center;
padding-top: 30px;
}